<% layout('layouts/boilerplate') %>

    <div class="row">
        <div class="col-6">
            <div id="campgroundCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% campground.images.forEach((img, i)=> {%>
                        <div class="carousel-item <%= i === 0 ? 'active' : ''%> ">
                            <img src="<%= img.url%>" class="d-block w-100 img-fluid" alt="">
                        </div>
                        <% }) %>
                </div>
                <% if(campground.images.length> 1) {%>
                    <button class="carousel-control-prev" type="button" data-bs-target="#campgroundCarousel"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#campgroundCarousel"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <% } %>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">
                        <%= campground.title %>
                    </h5>
                    <p class="card-text red">
                        <%= campground.description %>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">
                        <%= campground.location %>
                    </li>
                    <li class="list-group-item">
                        Submitted by <b>
                            <%= campground.author.username %>
                        </b>
                    </li>
                    <li class="list-group-item"><b>$<%= campground.price %></b> / night</li>
                </ul>
                <% if (currentUser && campground.author.equals(currentUser._id)) {%>
                    <div class="card-body">
                        <a class="card-link btn btn-info" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                        <form class="d-inline" action="/campgrounds/<%= campground._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                    <% } %>
                        <div class="card-footer text-muted">
                            2 days ago
                        </div>
            </div>
        </div>
        <div class="col-6">
            <div id='map' class="mb-3"></div>
            <% if(currentUser){ %>
                <h2>Leave the Review</h2>
                <form class="mb-3 validated-form" action="/campgrounds/<%= campground._id %>/reviews" method="POST"
                    novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="rating">Rating</label>
                        <input class="form-range" type="range" min="1" max="5" name="review[rating]" id="rating">
                        <datalist id='ticks' style='display: flex; justify-content: space-between'>
                            <option style='color: #d62b00' value='1' label='1 &#9733'></option>
                            <option style='color: #ff9008' value='2' label='2 &#9733'></option>
                            <option style='color: #f7c348' value='3' label='3 &#9733'></option>
                            <option style='color: #c1d600' value='4' label='4 &#9733'></option>
                            <option style='color: #6bd600' value='5' label='5 &#9733'></option>
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="body">Review</label>
                        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3"
                            placeholder="Add a review..." required></textarea>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-success">Submit</button>
                </form>
                <% } %>
                    <% for(review of campground.reviews) { %>
                        <div class="card mb-3">
                            <div class="card-body">
                                <h5 class="card-title">
                                    Rating: <%= review.rating %>
                                </h5>
                                <div class='stars-wrapper'>
                                    <% for( let i=0; i < review?.rating; i++ ) { %>
                                        <div class='star-filled'>&#9733;</div>
                                        <% } %>
                                            <% for( let i=0; i < 5 - review?.rating; i++ ) { %>
                                                <div class='star-empty'>&#9734;</div>
                                                <% } %>
                                </div>
                                <h6 class="card-subtitle my-2 text-muted">
                                    By <%= review.author.username %>
                                </h6>
                                <p class="card-text">
                                    Review: <%= review.body %>
                                </p>
                                <% if (currentUser && review.author.equals(currentUser._id)) {%>
                                    <form
                                        action="/campgrounds/<%= campground._id%>/reviews/<%=review._id%>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-danger">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>

    <script>
        const mapToken = '<%- process.env.MAPBOX_TOKEN %>';
        const campground = <%- JSON.stringify(campground)%>
    </script>
    <script src="/javascripts/showPageMap.js"></script>